@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
	background-color: #3c8563;
   color: white;
	font-family: 'Kanit', cursive;
}
button {
	width: fit-content;
  height: 30px;
	border-radius: 50px;
	color: white;
  border-style: solid;
	margin-bottom: 5px;
	background: #6b6b0f;
	cursor: pointer;
}

button:hover {
  background: #8fce00;
  color: white;
}

.gameimg {
	width: 125px;
	height: 125px;
	border-radius: 15px;
	margin: 15px;
	position: relative;
	float: left;
  margin-right: 10px;
}

.hyperlink, p {
  color: gray;
  text-decoration: none;
}

.hyperlink:hover, p:hover {
  color: black;
}

.gxmelist {
  margin-left: 1%;
}

.gxmelist a img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.gxmelist a {
  display: inline-block;
  background-color: yellow;
  width: 150px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 5px;
}

.small {
  font-size: 12px;
}
